* {
    margin: 0;
    padding: 0;
    max-width: 100%;

}

@media screen and (max-width: 550px){
    .featured-work {
        flex-wrap: wrap;
    }
    h1{font-size: 85%}
    h2{font-size: 85%}
    h3{font-size: 85%}
    p{font-size: 80%}
}

@media screen and (max-width: 850px){
    p{font-size: 75%}

}

@media screen and (min-width: 1120px){
    .container{
        box-sizing: border-box;
     }
}

.container{
    max-width: 70%;
    align-self: center;
}

main{
    align-self: center;
    max-width: 100%;
}

header {
    max-height: 10%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: #7d97ad;
    border-bottom-width: thick;
    margin-bottom: 2%;
}

.header__name, .header__title {
    align-self: flex-end;
    margin: 0;
}

.header__name{
    font-family: Calibri;
}

.header__title {
    font-family: "Courier New";
}

.header__logo{
    max-height:100%;
    max-width: 100%;
}

.logo__container{
    display: flex;
    max-width: 120px;
    max-height: 120px;
}

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2%;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

article {
    max-width: 100%;
    flex-basis: 100%;
    align-self: stretch;
}

.the_great_outdoors, .deck, .work{
    max-height: 300px;
    max-width: 98%;
}

.main_picture {
    max-height: 700px;
    max-width: 100%;
}

.featured-work {
    display: flex;
    justify-content: space-between;
}
.featured-work__description{
    padding: 5% 5% 5% 0%;
}
.featured-work__subheading{
    padding: 5% 5% 0% 0%;
}
.featured-work__header {
    padding: 5% 5% 5% 0%;
    color: #7d97ad;
}


